[Unit]
Description=Vector Service
After=network.target
Requires=network-online.target
[Service]
User= root
Group= root
ExecStart=/usr/bin/vector --config {{ vector_config_dir }}/vector.toml
Restart=always
WantedBy=multi-user.target%